DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=bd
DB_NAME_SEGURITY=segurity
# PARA MANTENIMIENTO
PASSWORD_RESP=10qp20wo30ei40ru50ty
# RECAPTCHA
RECAPTCHA_SECRET=6Le_rOgqAAAAAMEKli0Bp9zdh8i_haVpS008lTxc

