

# Ignorar archivos de configuración local
.env

# Ignorar archivos de log
*.log

# Ignorar archivos temporales de sistemas operativos
*.swp
src/config/keys
src/config/keys/encrypt_public.key
src/config/keys/private.key


# Ignorar la carpeta de dependencias
vendor/

desktop.ini
Thumbs.db
src/assets/img_ingresadas_por_usuario/

# Respaldos y archivos temporales generados localmente
src/config/backups/
src/config/backups/*.sql
src/config/backups/*.log
src/config/backups/*.tmp
src/config/backups/*.error.log
src/config/backups/*.zip
src/config/backups/*.rar


