

# Ignorar archivos de configuración local
.env

# Ignorar archivos de log
*.log

# Ignorar archivos temporales de sistemas operativos
*.swp
src/config/keys/private.key
src/config/keys/public.key


# Ignorar la carpeta de dependencias
vendor/

