* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sin-circulos {
    list-style-type: none;
}

.borde-de-menu {
    border-bottom: 1px solid rgba(0, 0, 0, 0.509);
}

.activo-border {
    border-bottom: 1px solid #387ADF;
}

.color-activo-svg {
    color: #387ADF;
}

/* si paso el ratón por donde esta la clase li el contenedor
 con la clase color-linea cambia de color */
.li:hover .color-linea {
    border-bottom: 1px solid #387ADF;
}

/* si paso el ratón por donde esta la clase li el contenedor
con la clase hover-grande cambia de tamaño*/
.li:hover .hover-grande {
    transform: scale(1.05);
    transition: all 0.1s;
}

.contenedor {
    padding-left: 8vh;
    padding-right: 8vh;
}

.btn-agregar-doctores {

    background: none;
    border: none;
    border-bottom: #387ADF solid 2px;
    border-radius: 0;
    color: #387ADF;
    padding-left: 0;
    padding-right: 0;
    transition: 0.2s;
    margin: 8px 10px;
}

.btn-agregar-doctores:hover {
    border-radius: 25px;
    padding: 6px 10px;
    transition: 0.1s;


}
.btn-agregar-doctores:hover img {
    
    filter: hue-rotate(0deg) saturate(0) brightness(800%);
   

}

.fondo-tabla {
    padding: 15px;
    border-radius: 20px;

}

.btn-tabla {
    border: none;
    background-color: #387ADF;
    transition: .4s all;
    color: #fff;
}

.btn-tabla:hover {
    border: none;
    background-color: #E4EBF0;
    transition: .4s all;
}

.color-icono {
    color: #387ADF;
}

.comentarioRed {
    border: 0.1px solid #ffe9ec;
    box-shadow: #e7dcdd 0 0 2px;
}

.comentarioAzul {
    border: 0.1px solid rgb(236, 236, 253);
    box-shadow: #ddebfa 0 0 2px;
    
}

.comentario {
    margin: 0;
    border-radius: 8px;
    width: 30%;
}

/* modal */
.margen-input {

    margin-bottom: 12px;

}

.input {

    padding-left: 28.6px;
    padding-bottom: 5.8px;
    width: 81.5vh;
    border: none;
    outline: none;
    border-bottom: solid 0.40vh #387ADF;
}
.inputHorario {

    padding-left: 15px;
    padding-bottom: 5.8px;
    width: 20vh;
    border: none;
    outline: none;
    font-size: 15px;
    border-bottom: solid 0.40vh #387ADF;
}

.icono {

    color: #387ADF;
    position: absolute;
    transform: translateY(1px);
    transform: translateX(-2px);
    width: 25px;
    transition: 0.1s;

}

.icono-animacion {

    color: #387ADF;
    position: absolute;
    transform: translateY(1px);
    transform: translateX(-0.5px);
    width: 20px;
    transition: 0.1s;

}

.icono-telefono {
    width: 21.7px;
    color: #387ADF;
    position: absolute;
    transform: translateY(0.9px);
    transform: translateX(-0.4px);
    transition: 0.1s;
}

.icono-telefono-animacion {
    width: 15.8px;
    color: #387ADF;
    position: absolute;
    transform: translateY(0.9px);
    transform: translateX(-0.3px);
    transition: 0.1s;
}

.color-btn-cancelar {
    color: #387ADF;
    border: #387ADF solid 1.2px;
}
#tablaEspecialidad tbody tr:hover{
    background-color: #387bdf3b;
    box-shadow: #e7dcdd 0 0 2px;
}
#cuerpoTablaEspecialidad {
	font-size: 13px;
	max-height: 10px !important;
	width: 1000vh;
	overflow-y: auto !important;
}
.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    white-space: nowrap;
    text-align: left;
}

@media screen and (max-width: 768px) {
    .table th, .table td {
        font-size: 14px;
    }

}

@media screen and (max-width: 600px) {
    .input-buscar {
        margin-left: 0px !important; 
    }
    .btn-agregar-doctores {
        margin: 0px;
        width: 20vw;
    }
}
