body {
    /* background-color: #387ADF; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #7FB3D5, #5499C7, #2980B9) ;
}
.titulo{
    color: #F8FCFF;
}
.p{
    font-size: 24px;
    color: #F8FCFF;
}