/* /////////////////////////////////////////////////////////////////////////// */
/* ...............................ESTADISTICAS.................................... */



.tarjetaa-pastel {
  width: 45%;
  height: 65vh;
  color: var(--color-text-card);
  background-color: var(--color-bg-card-estadisticas);
}

/* Cambia el tamaño base del gráfico */
.canvas-pastel {
  max-width: 410px;
  max-height: 310px;
  width: 100% !important;
  height: auto !important;
  display: block;
  margin: 0 auto;
}

.canvas-modal {
  width: 400px;
  height: 400px;
}


@media screen and (max-width: 1000px) {


   .tarjetaa-pastel {
    width: 100%;
    height: 60%;
  }
}
/* Media query para tablets */
@media (max-width: 768px) {
  .canvas-pastel {
    max-width: 350px;
    max-height: 480px;
  }
}

/* Media query para móviles */
@media (max-width: 480px) {
  .canvas-pastel {
    max-width: 98vw;
    max-height: 450px;
  }


}
