.btn-agregarConsulta {
	margin-right: 50px;
	background-color: transparent;
	color: black;
	border: none;
	border-bottom: 3px solid #387ADF;
	border-radius: 0;
	transition: all .4s;
}

.btn-agregarConsulta:hover {
	background-color: #387ADF;
	border-bottom: 3px solid #387ADF;
	transition: all .4s;
}

.caja-paciente {
	margin-left: 60px;
}

.input-buscar {
	border-radius: 0;
	border: none;
	border-bottom: 2px solid #387ADF;
	background-color: transparent;

}

.input-buscar:focus {
	outline: 0 !important;
	box-shadow: none;
	background: linear-gradient(to bottom, transparent, #E4EBF0);
}

.btn-buscar {

	border-radius: 0;
	border-right: #387ADF solid 1px;
	border-end-end-radius: 10px;
	border-start-start-radius: 10px;
	background-color: #387ADF;
	transition: .4s all;
	color: #fff;
}

.btn-buscar:hover {
	background-color: #E4EBF0;
	transition: .4s all;
}

.btn-tabla {
	border: none;
	background-color: #387ADF;
	transition: .4s all;
	color: #fff;
}

.btn-tabla:hover {
	border: none;
	background-color: #E4EBF0;
	transition: .4s all;
}

/* estas clases son del modal de agregar */
.form-modal {
	width: 85%;
	margin: auto;
}

.form-modal input {
	font-size: 24px;
}

.placeholder::placeholder {
	font-size: 24px;
	color: #387ADF;
}

.input-buscar option {
	font-size: 18px;
	color: #387ADF;
}

/* Estilos Validaciones */
.grpFormCorrect input {
	border-bottom: 2px solid rgb(13, 240, 13);
	;
}

.grpFormCorrect input:focus {
	border-bottom: 2px solid rgb(13, 240, 13);
	;
}

.grpFormInCorrect input {
	border-bottom: 2px solid rgb(224, 3, 3);
}

.grpFormInCorrect input:focus {
	border-bottom: 2px solid rgb(224, 3, 3);
}

/* Editar */


.grpFormCorrectEditar:focus {
	border-bottom: 2px solid rgb(13, 240, 13);
}

.grpFormInCorrectEditar:focus {
	border-bottom: 2px solid rgb(224, 3, 3);
}


/* insumos en la facturacion */

.caja_insumos_a_seleccionar div{
	border-radius: 20px;
}


.insumo_no_seleccionado{
	background-color: #ddd;
	cursor: pointer;
	transition: all .7s;
}

.insumo_no_seleccionado:hover{
	background-color: rgb(145, 142, 142);
	transition: all .7s;
}

.insumo_seleccionado{
	background-color: #387ADF;
	color: white;
	cursor: pointer;
}

