* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn-tabla {
    padding: 5px 9px;
    border: #387ADF 0.5px solid;
    background-color: #387ADF;
    transition: .4s all;
    color: #fff;
}

.btn-tabla:hover {
    border: #387ADF 0.5px solid;
    color: #387ADF;
    background-color: #E4EBF0;
    transition: .4s all;
}

.color-icono {
    color: #387ADF;
}

.fondo-tabla {
    padding: 15px;
    border: #E4EBF0 solid 1px;
    border-radius: 20px;
    box-shadow: #E4EBF0 0 0 5px;
    background-color: #F8FCFF;
}

.btn-agregar-pacientes {

    background: none;
    border: none;
    border-bottom: #387ADF solid 2px;
    border-radius: 0;
    color: #387ADF;
    padding-left: 0;
    padding-right: 0;
    transition: 0.2s;
    margin: 8px 10px;
}

.btn-agregar-pacientes:hover {
    border-radius: 25px;
    padding: 6px 10px;
    transition: 0.1s;
}

/* modal */
.btn-cancelar {
    background-color: #f0f0f0;
    border: #f0f0f0 solid 1.2px;
    color: black;

}

.btn-cancelar:hover {
    background-color: #f0f0f0;
    color: #387ADF;
    border: #387ADF solid 1.2px;
}


.input-busca {
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #387ADF;
    background-color: transparent;
}

.input-busca:focus {
    outline: 0 !important;
    box-shadow: none;
    background: linear-gradient(to bottom, transparent, #E4EBF0);
}

.boton-buscar {

    border-radius: 0;
    border-right: #387ADF solid 1px;
    border-end-end-radius: 10px;
    border-start-start-radius: 10px;
    background-color: #387ADF;
    transition: .4s all;
    color: #fff;
}

.boton-buscar:hover {
    background-color: #E4EBF0;
    transition: .4s all;
}

.borde-input-agregar {
    padding-left: 10.6px;
    padding-bottom: 0;
    width: 44vh;
    border-bottom: solid 0.55vh #387ADF;
}

.input-agregar {
    border: none;
    outline: none;
}

.precio-medicina-agregar {
    position: absolute;
    transform: translateY(-6px);

}

.margen-dos-puntos {
    margin-bottom: 0px;
    margin-top: 6px;
}

.color-letras {
    color: black;
}


/* off-canvas */
.parrafo-offcanvas {
    text-align: justify;
    font-weight: 600;
}



/* ...... animación input number ....... */

.contenedorNumber {
    border-radius: 100px;
    background-color: #F8FCFF;
    border: 1px solid #387ADF;
    box-shadow: #387ADF 0 0 2px;
    width: 10vh;
}

.input-number {
    width: 8.3vh;
    text-align: center;
    font-size: 18px;
    padding: 4px 0;
    border: none;
    border-radius: 100%;
    background-color: #F8FCFF;
    color: #202030;
}

.contenedorNumber input::-webkit-outer-spin-button,
.contenedorNumber input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.btn-max-min {
    color: #3264fe;
    border: none;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    width: 5vh;
    display: none;
}

.btn-max-lugar {
    padding-right: 2vh;
}

.btn-min-lugar {
    padding-left: 2vh;
}

.contenedorNumber:hover .btn-max-min {
    display: block;
}

.tamano-btn-min {
    font-size: 23px !important;
    font-family: Arial;
}

.tamano-input-number {
    width: 43px;
}

.contenedorNumber:hover {
    width: 18vh;
    transform: translateX(-5vh);
}

.fondoPH {
    padding: 10px;
    border: #E4EBF0 solid 1px;
    background-image: radial-gradient(at 40px 20px, rgba(121, 167, 240, 0.171) 40%, rgba(159, 197, 253, 0.205) 20%, rgba(133, 182, 255, 0.63) 72%);
    border-radius: 10.5px;
    box-shadow: #E4EBF0 0 0 5px;
    cursor: pointer;
    transition: transform 0.11s;
}

.fondoPH:hover {
    transform: scale(1.03);
}