/* ////////////////////////////////////////////////////// */
:root {
    /* Colores claros por defaultt */
    --color-bg-main: #f2f9ff;
    --color-bg-sidebar: #e8f2ff;
    --color-bg-card: #fdfdff;
    --color-bg-card-estadisticas: #fdfdff;
    --color-text: #fdfdff;
    --color-text-card: #1b1a1a;
    --color-primary: #387adf;
    --color-primary-contrast: #ffffff;
    --color-surface: #f8fcff;
    --color-border: #f2f9ff;
    --filter-image: "";
    --color-error: #917977;
}

[data-theme="dark"] {
    /* Colores oscuros */
    --color-bg-main: hsl(211, 53%, 11%);
    --color-bg-sidebar: hsl(211, 43%, 11%);
    --color-bg-card: #415a77;
    --color-bg-card-estadisticas: #1e3c5e;
    --color-text: #e0e1dd;
    --color-text-card: #e0e1dd;
    --color-primary: #387adf;
    --color-primary-contrast: #e0e1dd;
    --color-surface: #415a77;
    --color-border: #e4ebf0;
    --filter-image: brightness(50%) contrast(120%);
    --color-error: #b0cad7;

    input::placeholder {
        color: #e8f2ff;
    }
}

/* ...................MENU E INICIO.................... */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
    /* color: var(--color-text-card) !important; */
}




/* menu de pruebas
 */

.sb-sidenav-blue {
    background-color: #387adf;
}

.navbar-blue {
    background-color: #387adf;
}

a {
    color: var(--color-text-card) !important;
}

h1 {
    font-size: 2rem;
    color: var(--color-text-card);
}

h3,
h4,
h5,
h6 {
    color: var(--color-text-card);
}

/* From Uiverse.io by lenin55 */
.cl-toggle-switch {
    position: relative;
}

.cl-switch {
    position: relative;
    display: inline-block;
}

/* Input */
.cl-switch>input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    right: 6px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgb(0, 0, 0, 0.38);
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;
}

/* Track */
.cl-switch>span::before {
    content: "";
    float: right;
    display: inline-block;
    margin: 5px 0 5px 10px;
    border-radius: 7px;
    width: 36px;
    height: 14px;
    background-color: rgb(0, 0, 0, 0.38);
    vertical-align: top;
    transition: background-color 0.2s, opacity 0.2s;
}

/* Thumb */
.cl-switch>span::after {
    content: "";
    position: absolute;
    top: 2px;
    right: 16px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #fff;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: background-color 0.2s, transform 0.2s;
}

/* Checked */
.cl-switch>input:checked {
    right: -10px;
    background-color: #85b8b7;
}

.cl-switch>input:checked+span::before {
    background-color: #85b8b7;
}

.cl-switch>input:checked+span::after {
    background-color: #018786;
    transform: translateX(16px);
}

/* Hover, Focus */
.cl-switch:hover>input {
    opacity: 0.04;
}

.cl-switch>input:focus {
    opacity: 0.12;
}

.cl-switch:hover>input:focus {
    opacity: 0.16;
}

/* Active */
.cl-switch>input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.cl-switch>input:active+span::before {
    background-color: #8f8f8f;
}

.cl-switch>input:checked:active+span::before {
    background-color: #85b8b7;
}

/* Disabled */
.cl-switch>input:disabled {
    opacity: 0;
}

.cl-switch>input:disabled+span::before {
    background-color: #ddd;
}

.cl-switch>input:checked:disabled+span::before {
    background-color: #bfdbda;
}

.cl-switch>input:checked:disabled+span::after {
    background-color: #61b5b4;
}







html {
    /* background-color: var(--color-bg-main); */
    background-color: var(--color-bg-main);
}

.contenedor-fondo {
    background-color: var(--color-bg-main) !important;
}



/* Menu */
/* Estilo del menú lateral */
.sidenav {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #387adf;
    /* Azul Bootstrap */
    transition: 0.3s;
    padding-top: 60px;
    z-index: 1000;
    overflow-y: auto;
    /* Scroll si es necesario */
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    /* font-size: 25px; */
    color: white !important;
    display: block;
    transition: 0.3s;
}

.navbarHorizontal {
    background-color: #387adf !important;
    /* Azul Bootstrap */
}

.sidenav a:hover {
    color: #387adf !important;
    background-color: #ffffff;
}

.open-sidenav {
    left: 0;
}

/* Botón cerrar en la esquina */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 36px;
    color: white;
    text-decoration: none;
    z-index: 1100;
}

/* Menú lateral siempre visible en PC (md en adelante) */
@media (min-width: 992px) {
    .sidenav {
        left: 0 !important;
        width: 250px;
        padding-top: 60px;
    }

    #main {
        margin-left: 250px;
    }

    .closebtn {
        display: none;
    }

    .navbar-toggler {
        display: none;
    }
}

/* clases del contenedor */


.icon {
    color: white !important;
}

.ico {
    color: var(--color-text-card) !important;
}

.contenido {
    background-color: var(--color-bg-main);
}

/*fondo animado*/
.main {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    transition: all 0.4s ease;
    opacity: 0.4;
}

.opacidadMenu {
    background-color: rgba(242, 249, 255, 0.377);
}

.imgEmergencia {
    filter: brightness(0) invert(1);
}

.iconoM {
    width: 100px !important;
}

/* ///////////////////////////////////////////////////////////////////////////////// */
/* .............................PACIENTES CITAS Y CONTROL.......................... */

.aparecer {
    display: none;
}

.ocultar {
    display: block;
}

.input-buscar {
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #387adf;
    background: none !important;
    margin-left: 50px;
}

.input-buscar:focus {
    outline: 0 !important;
    box-shadow: none;
}

.btn-buscar {
    border-radius: 0;
    border-right: #387adf solid 1px;
    border-end-end-radius: 10px;
    border-start-start-radius: 10px;
    background-color: #387adf;
    transition: 0.4s all;
    color: #ffffff;
}


#reiniciarBusquedaEspecialidad {
    border-radius: 0;
    border-right: #387adf solid 1px;
    border-start-end-radius: 10px;
    border-end-start-radius: 10px;
    background-color: var(--color-primary);
    transition: 0.4s all;
    color: #fff;
    position: relative;
    z-index: 10;
}

#reiniciarBusquedaEspecialidad:hover {
    border-right: var(--color-bg-main) solid 1px;
    background-color: var(--color-bg-main);
    transition: 0.4s all;
}

.btn-buscar:hover {
    background-color: var(--color-bg-main);
    transition: 0.4s all;
}

.tamaño-input-buscar {
    width: 55%;
}

.mover-input-buscar {
    margin-right: 15%;
}

.mover-input-agregarcita {
    margin-left: 15%;
}

.btn-agregarConsulta {
    margin-right: 50px;
    background-color: transparent;
    color: black;
    border: none;
    border-bottom: 3px solid #387adf;
    border-radius: 0;
    /*transition: all .4s;*/
    transition-property: background-color;
    transition-duration: 0.4s;
}

.azul {
    color: #387adf;
}

.btn-agregarConsulta:hover {
    background-color: #387adf;
    border-bottom: 3px solid #387adf;
    transition-property: background-color;
    transition-duration: 0.4s;
    border-radius: 20px;
    color: #ffff;
}

.btn-tabla {
    border: none;
    background-color: #387adf;
    transition-property: background-color;
    transition-duration: 0.4s;
    color: #ffffff;
}

.btn-tabla:hover {
    border: none;
    background-color: var(--color-bg-main);
    transition-property: background-color;
    transition-duration: 0.4s;
}

.div-tabla {
    border-radius: 20px;
    background-color: #f8fcff;
    height: 77%;
}

.div-tablaReportes {
    border-radius: 20px;
    background-color: #f8fcff;
    height: 100%;
}

.contenedor {
    width: 94%;
}

.tamaño-tabla {
    width: 98%;
    height: 60vh;
}

.titulo-modal {
    color: black;
}

#tablaEspecialidad,
#cuerpoTablaEspecialidad {
    color: var(--color-text-card) !important;
}

.tamaño-modal {
    width: 45%;
    border-radius: 20px;
    background-color: var(--color-surface);
    color: var(--color-text-card) !important;
}

.form-control input-modal {
    color: var(--color-text-card) !important;
}

.tamaño-modal-Seleccionar-Insumo {
    width: 120%;
    border-radius: 20px;
    background-color: #ffffff;
}

.input-modal {
    color: var(--color-text-card) !important;
    background-color: var(--color-bg-card) !important;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #387adf;
    background-color: transparent;
    margin-bottom: 15px;
}

.input-modal:focus {
    outline: 0 !important;
    box-shadow: none;
}

.placeholder::placeholder {
    font-size: 24px;
    color: #387adf;
}

.btn-cerrar-modal {
    border: none;
    border-radius: 20px;
    font-weight: bold;
}

/*.btn-cerrar-modal:hover{
	background-color: #3333;
	border: 2px solid #3333;
	color: #387ADF;
	transition-property: background-color;
	transition-duration: .4s;

}*/

.btn-agregarcita-modal {
    border-radius: 20px;
    background-color: #387adf;
    font-weight: bold;
    color: white;
}

.btn-agregarcita-modal:hover {
    background-color: #ffffff;
    border: 2px solid #387adf;
    color: #387adf;
    transition-property: background-color;
    transition-duration: 0.4s;
}

.btns-accion {
    color: black;
}

.btns-accion:hover {
    color: #387adf;
    border: none;
}

.sin-circulos {
    list-style-type: none;
    color: var(--color-text-card) !important;
}

.borde-menu {
    border-top: 1px solid rgba(0, 0, 0, 0.509);
}

.activo:hover {
    border-top: 1px solid #387adf;
    transform: scale(1.1);
    transition: all 0.1s;
}

.activo-borde {
    border-top: 1px solid #387adf;
}

.activo-borde svg {
    color: #387adf;
}

.btnRetroceder {
    border: 2px solid #387adf;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    background-color: #f8fcff;
}

.btnOtrosServ {
    border: 2px solid #387adf;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    background-color: #f8fcff;
}

/* .retrocederCitas button{
	
} */

/* estilos Control */

.lista-pacientes {
    /* width: 350px;
  height: 350px; */
    width: 25%;
    height: 50vh;
    overflow-y: auto !important;
}

.lista-pacientes2 {
    width: 70%;
    height: 50vh;
    overflow-y: auto !important;
    margin-left: auto;
}

.tamaño-tabla2 {
    width: 45%;
}

.justificar {
    text-align: justify;
}

.input-disabled:disabled {
    background-color: #ffffff;
}

.acordion-paciente {
    font-size: 17px;
    font-weight: 500;
    height: 15px;
}

/* Estilos Inicio */

.contenedor-inicio {
    background-color: var(--color-bg-main);
    border-radius: 20px;
    width: 30%;
}

.carrusel {
    width: 35%;
    height: 35%;
}

.borde-img {
    border-radius: 20px;
}

.tamaño-letra {
    font-size: 5rem;
}

.tamaño-tarjertas {
    width: 25%;
    height: 25%;
}

.fondo-tarjetas {
    background-color: #387adf;
}

.tarjeta-ajax {
    color: var(--color-text-card) !important;
}

.tarjeta {
    color: var(--color-text-card) !important;
}

/* Perfil */


/*INSUMOS*/

.tar {
    display: flex;
    flex-wrap: wrap;
}

.tarjet {
    height: 73vh;
}

/*js muy importante*/
.alertas-vencidos {
    height: 30%;
    margin-top: 0;
    padding-top: 0;
}

.tar img {
    height: 50%;
}

insumos en la facturacion
/*Pacientes*/

.margin-inputs {
    margin-top: -1px;
}

#modalAgregar input {
    font-size: 16px;
}

#modal-agregar-insumos input {
    font-size: 16px;
}

#modalAgregarCita input {
    font-size: 16px;
}

#modalAgregarControl input {
    font-size: 16px;
}

#modal-exampleInsumos input {
    font-size: 16px;
}

#modal-exampleEditarInsumos input {
    font-size: 16px;
}

#modal-exampleProveedores input {
    font-size: 16px;
}

#modal-exampleEntrada input {
    font-size: 16px;
}

#editarEntrada input {
    font-size: 16px;
}

#editarControlMedico input {
    font-size: 16px;
}

#modal-exampleEnfermeras input {
    font-size: 16px;
}

#modal-examplebuscarserv input {
    font-size: 16px;
}

.contenedor_tabla {
    font-size: 13px;
    height: 370px;
    width: 170vh;
    overflow-y: auto !important;
}

.contenedor_tabla_entradas {
    font-size: 13px;
    height: 370px;
    overflow-y: auto !important;
}

#inputCom input {
    font-size: 16px;
}

#tamanoinputPrecioSerMedico input {
    font-size: 16px;
}



/*USUARIOS*/

/*ESTILOS REPORTES*/

.rep {
    width: 20rem;
    display: flex;
    justify-content: center;
    margin-left: 800px;
}

.repor {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cardReporte {
    background-image: url("../img/grafi.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.4s ease-in-out;
    box-shadow: #333;
    filter: var(--filter-image);
}

.cardReporte:hover {
    transform: scale(1.04);
}

.cardReporteFactura {
    background-image: url("../img/grafico.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.4s ease-in-out;
    box-shadow: #333;
    filter: var(--filter-image);
}

.cardReporteFactura:hover {
    transform: scale(1.04);
}

.reportess {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


/*expresiones control*/

.grpFormCorrectControl {
    border-bottom: 2px solid rgb(13, 240, 13) !important;
}

.grpFormInCorrectControl {
    border-bottom: 2px solid rgb(224, 3, 3) !important;
}

.grpFormCorrectControlEditar {
    border-bottom: 2px solid rgb(13, 240, 13) !important;
}

.grpFormInCorrectControlEditar {
    border-bottom: 2px solid rgb(224, 3, 3) !important;
}


/* estilos madal de reportes de facturacion  */

.height_modal_factura {
    background-color: #387adf;
}

.btn-cerrar-modalFactura {
    border: none;
    margin-top: -40px;
}

.fullscreen-modal {
    z-index: 1040;
    position: fixed;
}

.modalInterno {
    position: fixed;
    z-index: 2000;
}

.madalAnular {
    position: fixed;
    z-index: 3000;
}

/*.......*/

.contenedor_tabla {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 1rem;
    margin-bottom: 1rem;
}

.table {
    white-space: nowrap;
}

/* ///////////////////////////////////////////////////////////////////////////////// */
/* ....................................FACTURA..................................... */

.btn-agregarConsulta {
    margin-right: 50px;
    background-color: transparent;
    color: black;
    border: none;
    border-bottom: 3px solid #387adf;
    border-radius: 0;
    transition: all 0.4s;
}

.btn-agregarConsulta:hover {
    background-color: #387adf;
    border-bottom: 3px solid #387adf;
    transition: all 0.4s;
}

.caja-paciente {
    margin-left: 60px;
}


.input-buscar:focus {
    outline: 0 !important;
    box-shadow: none;
}

.btn-buscar {
    border-radius: 0;
    border-right: #387adf solid 1px;
    border-end-end-radius: 10px;
    border-start-start-radius: 10px;
    background-color: #387adf;
    transition: 0.4s all;
    color: #fff;
}

.btn-buscar:hover {
    background-color: var(--color-bg-main);
    transition: 0.4s all;
}

.btn-tabla {
    border: none;
    background-color: #387adf;
    transition: 0.4s all;
    color: #fff;
}

.btn-tabla:hover {
    border: none;
    background-color: var(--color-bg-main);
    transition: 0.4s all;
}

/* estas clases son del modal de agregar */
.form-modal {
    width: 85%;
    margin: auto;
}

.agregar {
    background-color: var(--color-surface);
}

/* .form-modal input {
	font-size: 24px;
} */

.placeholder::placeholder {
    font-size: 24px;
    color: #387adf;
}

.input-buscar option {
    font-size: 18px;
    color: #387adf;
}

/* Estilos Validaciones */
.grpFormCorrect input {
    border-bottom: 2px solid rgb(13, 240, 13);
}

.grpFormCorrect input:focus {
    border-bottom: 2px solid rgb(13, 240, 13);
}

.grpFormInCorrect input {
    border-bottom: 2px solid rgb(224, 3, 3);
}

.grpFormInCorrect input:focus {
    border-bottom: 2px solid rgb(224, 3, 3);
}

/* Editar */

.grpFormCorrectEditar:focus {
    border-bottom: 2px solid rgb(13, 240, 13);
}

.grpFormInCorrectEditar:focus {
    border-bottom: 2px solid rgb(224, 3, 3);
}

/* insumos en la facturacion */

.caja_insumos_a_seleccionar div {
    border-radius: 20px;
}

.insumo_no_seleccionado {
    background-color: #ddd;
    cursor: pointer;
    transition: all 0.7s;
}

.insumo_no_seleccionado:hover {
    background-color: rgb(145, 142, 142);
    transition: all 0.7s;
}

.insumo_seleccionado {
    background-color: #387adf;
    color: white;
    cursor: pointer;
}

/* ///////////////////////////////////////////////////////////////////////////////// */
/* ....................................DOCTORES..................................... */

.sin-circulos {
    list-style-type: none;
}

.borde-de-menu {
    border-bottom: 1px solid rgba(0, 0, 0, 0.509);
}

.activo-border {
    border-bottom: 1px solid #387adf;
}

.color-activo-svg {
    color: #387adf;
}

/* si paso el ratón por donde esta la clase li el contenedor
 con la clase color-linea cambia de color */
.li:hover .color-linea {
    border-bottom: 1px solid #387adf;
}

/* si paso el ratón por donde esta la clase li el contenedor
con la clase hover-grande cambia de tamaño*/
.li:hover .hover-grande {
    transform: scale(1.05);
    transition: all 0.1s;
}

.contenedor {
    padding-left: 8vh;
    padding-right: 8vh;
    background-color: var(--color-surface);
}

.btn-agregar-doctores {
    background: none;
    border: none;
    border-bottom: #387adf solid 2px;
    border-radius: 0;
    color: #387adf;
    padding-left: 0;
    padding-right: 0;
    transition: 0.2s;
    margin: 8px 10px;
}

.btn-agregar-doctores:hover {
    border-radius: 25px;
    padding: 6px 10px;
    transition: 0.1s;
}

.btn-agregar-doctores:hover img {
    filter: hue-rotate(0deg) saturate(0) brightness(800%);
}

.btn-tabla {
    border: none;
    background-color: #387adf;
    transition: 0.4s all;
    color: #fff;
}

.btn-tabla:hover {
    border: none;
    background-color: var(--color-bg-main);
    transition: 0.4s all;
}

.color-icono {
    color: #387adf;
}

/* alerta */
.comentarioRed {
    border: 0.1px solid #ffe9ec;
    box-shadow: #e7dcdd 0 0 2px;
}

.comentarioAzul {
    border: 0.1px solid rgb(236, 236, 253);
    box-shadow: #ddebfa 0 0 2px;
}

.comentario {
    margin: 0;
    border-radius: 8px;
    width: 30%;
}

.comentarioADinamica {
    margin: 0;
    border-radius: 8px;
}

/* modal */
.margen-input {
    margin-bottom: 12px;
}

.input {
    padding-left: 28.6px;
    padding-bottom: 5.8px;
    width: 81.5vh;
    border: none;
    outline: none;
    border-bottom: solid 0.4vh #387adf;
}

.inputHorario {
    padding-left: 15px;
    padding-bottom: 5.8px;
    width: 20vh;
    border: none;
    outline: none;
    font-size: 15px;
    border-bottom: solid 0.4vh #387adf;
}

.icono {
    color: #387adf;
    position: absolute;
    transform: translateY(1px);
    transform: translateX(-2px);
    width: 25px;
    transition: 0.1s;
}

.icono-animacion {
    color: #387adf;
    position: absolute;
    transform: translateY(1px);
    transform: translateX(-0.5px);
    width: 20px;
    transition: 0.1s;
}

.icono-telefono {
    width: 21.7px;
    color: #387adf;
    position: absolute;
    transform: translateY(0.9px);
    transform: translateX(-0.4px);
    transition: 0.1s;
}

.icono-telefono-animacion {
    width: 15.8px;
    color: #387adf;
    position: absolute;
    transform: translateY(0.9px);
    transform: translateX(-0.3px);
    transition: 0.1s;
}

.color-btn-cancelar {
    color: #387adf;
    border: #387adf solid 1.2px;
}

#tablaEspecialidad tbody tr:hover {
    background-color: #387bdf3b;
    box-shadow: #e7dcdd 0 0 2px;
}

#cuerpoTablaEspecialidad {
    font-size: 13px;
    max-height: 10px !important;
    width: 1000vh;
    overflow-y: auto !important;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    color: var(--color-text-card) !important;
    white-space: nowrap;
    text-align: left;
}

td {
    color: var(--color-text-card) !important;
}

/* ///////////////////////////////////////////////////////////////////////////////////////// */
/* ....................................HOSPITALIZACIÓN..................................... */

.tdTBtn {
    width: 24vh;
}

.btn-tabla {
    padding: 5px 9px;
    border: #387adf 0.5px solid;
    background-color: #387adf;
    transition: 0.4s all;
    color: #fff;
}

.btn-tabla:hover {
    border: #387adf 0.5px solid;
    color: #387adf;
    background-color: var(--color-bg-main);
    transition: 0.4s all;
}

.color-icono {
    color: #387adf;
}

.btn-agregar-pacientes {
    background: none;
    border: none;
    border-bottom: #387adf solid 2px;
    border-radius: 0;
    color: #387adf;
    padding-left: 0;
    padding-right: 0;
    transition: 0.2s;
    margin: 8px 10px;
}

.btn-agregar-pacientes:hover {
    border-radius: 25px;
    padding: 6px 10px;
    transition: 0.1s;
}

/* modal */
.btn-cancelar {
    background-color: #f0f0f0;
    border: #f0f0f0 solid 1.2px;
    color: black;
}

.btn-cancelar:hover {
    background-color: #f0f0f0;
    color: #387adf;
    border: #387adf solid 1.2px;
}

.input-busca {
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #387adf;
    background-color: var(--color-surface);
}

.input-busca:focus {
    outline: 0 !important;
    box-shadow: none;
    background-color: var(--color-surface);
}

.boton-buscar {
    border-radius: 0;
    border-right: #387adf solid 1px;
    border-end-end-radius: 10px;
    border-start-start-radius: 10px;
    background-color: #387adf;
    transition: 0.4s all;
    color: #fff;
}

.boton-buscar:hover {
    background-color: var(--color-bg-main);
    transition: 0.4s all;
}

.borde-input-agregar {
    padding-left: 10.6px;
    padding-bottom: 0;
    width: 44vh;
    border-bottom: solid 0.55vh #387adf;
}

.input-agregar {
    border: none;
    outline: none;
}

.precio-medicina-agregar {
    color: var(--color-text-card);
    position: absolute;
    transform: translateY(-6px);
}

.margen-dos-puntos {
    margin-bottom: 0px;
    margin-top: 6px;
}

.color-letras {
    color: var(--color-text-card);
}

/* off-canvas */
.parrafo-offcanvas {
    text-align: justify;
    font-weight: 600;
}

/* ...... animación input number ....... */

.contenedorNumber {
    border-radius: 100px;
    background-color: #f8fcff;
    border: 1px solid #387adf;
    box-shadow: #387adf 0 0 2px;
    width: 10vh;
}

.input-number {
    width: 8.3vh;
    text-align: center;
    font-size: 18px;
    padding: 4px 0;
    border: none;
    border-radius: 100%;
    background-color: #f8fcff;
    color: #202030;
}

.contenedorNumber input::-webkit-outer-spin-button,
.contenedorNumber input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.btn-max-min {
    color: #3264fe;
    border: none;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    width: 5vh;
    display: none;
}

.btn-max-lugar {
    padding-right: 2vh;
}

.btn-min-lugar {
    padding-left: 2vh;
}

.contenedorNumber:hover .btn-max-min {
    display: block;
}

.tamano-btn-min {
    font-size: 23px !important;
    font-family: Arial;
}

.tamano-input-number {
    width: 43px;
}

.contenedorNumber:hover {
    width: 18vh;
    transform: translateX(-5vh);
}

.fondoPH {
    padding: 10px;
    border: var(--color-bg-main) solid 1px;
    background-image: radial-gradient(at 40px 20px,
            rgba(121, 167, 240, 0.171) 40%,
            rgba(159, 197, 253, 0.205) 20%,
            rgba(133, 182, 255, 0.63) 72%);
    border-radius: 10.5px;
    box-shadow: var(--color-bg-main) 0 0 5px;
    cursor: pointer;
    transition: transform 0.11s;
}

.fondoPH:hover {
    transform: scale(1.03);
}

/* /////////////////////////////////////////////////////////////////////////// */
/* ...............................INSIMOS................................... */

/* Lo comento porque no estaba incluida en el head */


.tarjeta:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.tarjeta img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.contenedor-tabla {
    overflow-x: auto;
    margin-top: 20px;
    border-radius: 8px;
    background: #f9f9f9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
}

.tarjeta .btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #387adf;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    border-radius: 0 0 8px 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tarjeta .btn:hover {
    background-color: #285a9f;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
}

*/
/* //////////////////////////////////////////////////////////////////////////////// */
/* ...................................USUARIO.................................... */


.btns-accion {
    color: black;
}

.btns-accion:hover {
    color: #387adf;
    border: none;
}

.azula {
    color: #387adf;
}

.azula:hover {
    color: #0000008f;
}

.fondo-tabla {
    color: var(--color-text-card);
    padding: 15px;
    border-radius: 20px;
    background-color: var(--color-bg-card);
}

.tarjeta img {
    height: 33vh;
    width: 92%;
    border-radius: 1.3vh;
}

.tarjeta {
    border-radius: 2.3vh;
    margin-bottom: 5.5vh;
}

.btn-User {
    border-radius: 20px;
    border: 2px solid #387adf;
    background-color: #ffffff;
    font-weight: bold;
    color: #387adf;
    width: 20vh;
    padding: 4px;
}

.btn-User:hover {
    background-color: #387adf;
    color: #387adf;
    color: white;
    transition-duration: 0.2s;
}

.btnMostrar:hover {
    color: #050505;
}

.btnMostrar {
    color: #2761b9;
    font-weight: 500;
}

.margen-input-u {
    margin-bottom: 8px;
}

.hospit {
    background-color: var(--color-bg-card);
}

.input-u {
    color: var(--color-text-card) !important;
    padding-left: 28.6px;
    padding-bottom: 5.8px;
    /* width: auto; */
    border: none;
    outline: none;
    border-bottom: solid 0.55vh #387adf;
}

.input-mostrar {
    border: none;
    outline: none;
    color: #666666;
    background-color: #ffffff;
}

.btnMostrarContrase {
    position: relative;
    z-index: 30;
}

.color_lineaText {
    color: black !important;
    line-height: 1.5;
    border-bottom: 1px solid black;
}

/* /////////////////////////////////////////////////////////////////////////// */
/* ...............................REPORTE.................................... */


/* Clase papa mostrar todos los textos rojos cuando la validacion no se cumple */
.p-error-validaciones {
    color: var(--color-error) !important;
}



/* ////////////////////////////////////////////////////////////////// */
/* ............................MENU E INICIO........................ */


/* ///////////////////////////////////////////////////////////////////// */
/* .............................PACIENTES CITAS Y CONTROL.......................... */

/* control nuevo */
@media screen and (max-width: 1170px) {
    .lista-pacientes2 {
        width: 100%;
        margin-left: "";
    }
}

@media screen and (max-width: 900px) {
    .editar {
        width: 100%;
    }

    .lista-pacientes {
        width: 100%;
    }
}

/* ///////////////////////////////////////////////////////////////////////////////// */
/* ....................................DOCTORES..................................... */



@media screen and (max-width: 600px) {
    .input-buscar {
        margin-left: 0px !important;
    }

    .btn-agregar-doctores {
        margin: 0px;
        width: 20vw;
        margin-left: 30px;
    }
}

/* /////////////////////////////////////////////////////////////////////////// */
/* ...............................INSIMOS.................................... */

.caja-de-buscador-insumos {
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 600px) {
    .caja-de-buscador-insumos {
        display: flex;
        flex-direction: column;
    }

    .caja-insumos {
        width: 80%;
        margin: auto !important;
        margin-bottom: 10px !important;
    }

    .children-caja-insumos {
        width: 80% !important;
    }

    .caja-tarjets-responsive-insumos {
        width: 100% !important;
    }

    .tarjet {
        width: 100% !important;
    }

    .botones-mostrar {
        width: 100% !important;
    }
}

/* Lo comento porque no estaba incluida en el head */



/* /////////////////////////////////////////////////////////////////////////// */
/* ...............................USUARIO................................... */
@media screen and (max-width: 550px) {
    .caja-buscador-usuario {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {

    .caja-tarjets-responsive {
        width: 100%;
    }

    .tarjeta {
        width: 100%;
    }

    .btn-usuarios {
        width: 95%;
    }
}

/* /////////////////////////////////////////////////////////////////////////// */
/* ...............................REPORTE.................................... */

.modalBuscador {
    border-radius: 20px;
    background-image: url("../img/grafi.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    filter: var(--filter-image);
}

.modalBuscador li a:hover {
    color: #387adf;
}

.tajeta-estadistica-m {
    width: 45%;
    height: 53vh;
    color: var(--color-text-card);
    background-color: var(--color-bg-card-estadisticas);
}

.tajeta-estadistica-g {
    color: var(--color-text-card);
    background-color: var(--color-bg-card-estadisticas);
}

/* /////////////////////////////////////////////////////////////////////////////// */
/* ............................. RESPONSIVE ..................................... */
/* ///////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 1000px) {
    .tajeta-estadistica-m {
        width: 100%;
        height: 60%;
    }

    .tajeta-estadistica-g {
        width: 100%;
    }
}