* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.aside {
	height: 100%;
	width: 25%;
	padding: 10px;
	background-color: #387ADF;
	color: #fff;
	position: fixed;
	transition: all .4s ease;
	z-index: 100;
	overflow-y: auto !important;
}

.head {
	display: flex;
	align-items: center;
	height: 50px;
	margin-left: 10px;
	/*margin-bottom: 30px;*/
}


.profile {
	display: flex;
	align-items: center;
}

.profile p {
	margin-left: 20px;
	font-size: 20px;
}

.icono-hamburguesa {
	cursor: pointer;
}

.opcRes {
	display: block;
}

/*segunda parte*/

.options div {
	display: flex;
	align-items: center;
	padding: 11px 15px;
	cursor: pointer;
	margin-bottom: 5px;
	border-radius: 10px;
	font-size: 1.08rem;
}

.options a {
	text-decoration: none;
	color: #fff;

}

.options a:hover {
	color: rgb(242, 249, 255);
	text-decoration: none;
}

.options div:hover {
	background: rgba(255, 255, 255, 0.254);
	transition: all .4s ease-in-out;
}

.aside.active {
	width: 68px;
	transition: all .4s ease;
}

.aside.active .option,
.aside.active .profile {
	display: none;
}

.aside.active .head {
	margin-left: 0px;
}

.aside.active .head svg {
	margin: auto;
}

.desaparecer-icono {
	display: none;
}

#cerrarMenu {
	margin-left: 140px;
	margin-top: -30px;
}


/* clases del contenedor */
main {
	background-color: #fff;
	width: calc(100vw - 70px);
	height: 100%;
	margin-left: 70px;
	transition: all .4s ease;
}

/*fondo animado*/
.main {
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	transition: all .4s ease;
	opacity: .4;
}

.opacidadMenu {
	background-color: rgba(242, 249, 255, 0.377);

}

.imgEmergencia {
	filter: brightness(0) invert(1);
}

.iconoM {
	width: 100px !important;
}

@media screen and (max-height: 606px) {
	.aside.active {
		width: 79px;
	}
}

@media screen and (max-width: 1020px) {

	.logo {
		display: none;
	}
}

@media screen and (max-width: 755px) {

	.cerrar {
		padding: 0;
		margin: 0;
	}

	.aside {
		width: 40%;
	}
}

@media screen and (max-width: 450px) {
	body {
		background-color: #fff;
	}

	/* clases del contenedor */
	main {
		background-color: #fff;
		width: 100%;
		margin-left: 0px;
		transition: all .4s ease;
	}

	.aside {
		width: 100%;
		height: -1px;
		padding: 0px;

		position: fixed;
	}

	.asideRespo {
		color: #000000;
		background-color: #ffffff63;
		height: 70px !important;
		margin-top: -6px !important;
		margin-left: -10px !important;
		margin-right: 250px !important;
	}

	.opcRes {
		display: none;

	}

}